/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

::selection {
  background-color: #2B2B2B;
  color: #eee;
}

.header {
  margin: 100px 0 35px 0;
}

  .header a {
    font-size: 40px;
    color: #777;
    font-weight: 200;
  }

  .menu {
    padding: 0;
    margin: 5px 0;
    font-weight: normal;
  }
  .menu li {
    display: inline;
    padding-right: 15px;
  }
  .menu li a{
    font-size: 16px;
  }

  .menu {
    margin: -37px 0 0 0;
    padding: 0;
    padding-top: 2px;
    float: right;
  }
  .social li {
    display: inline;
    font-size: 20px;
  }

.hero {
  //background-color: #2B2B2B;
  background-size: cover;
  height: 10px;
  //box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.orangebox {
  background-color: #FF7527;
  //background-image: url('../img/squares.png');
  //background-repeat: repeat;
  //background-size: 20px;
}

.subtitle {
  color: #AAA;
}


.home {

}

  .home .posts {

  }


  .home .posts li {
    list-style-type: none;
padding: 7px 5px;
font-size: 18px;
  }


.posts {
  margin: 25px 0;
  padding: 0;
}
  .posts li {
    list-style-type: none;
    padding: 7px 5px;
    font-size: 18px;
  }
  a {
    text-decoration: none;
  }
  .posts span {
    padding-top: 2px;
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
  }

  .when {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    width: 150px;
    display: block;
    text-align: right;
    //margin: 23px 0 0 -210px;
    float: left;
  }

li {
  padding: 0;
  list-style-type: square;
  font-size: 20px;
  margin-left: 0;
  line-height: 160%;
}

ul {
  padding-left: 20px;
}

/*
/* Global Reset 
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #000; }
a:hover   { color: #000; }
a:visited { color: #000; }


ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/* standard 
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


.orange {
        color: #FF7527
      }


header