---
const today = new Date();
---

<footer class="container mx-auto px-4 py-8 lg:max-w-2xl max-w-2xl">
  <p>
    &copy; {today.getFullYear()} Will Townsend —{" "}
    <a href="https://twitter.com/wtsnz">@wtsnz</a>
  </p>
</footer>
